DEBUG=True
SECRET_KEY={{ random_ascii_string(32, punctuation=False) }}
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD={{ random_ascii_string(16, punctuation=False) }}
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
REDIS_HOST=localhost

NOTIFY_SMS_API_ID=1234567890
FCM_SERVER_KEY=1234567890

ENABLE_GARPIX_AUTH=False
